In [6]:
import pandas as pd

In [7]:
df = pd.read_csv("Data/weather_data.csv", encoding = 'unicode_escape')
df.tail()

     Month  Year Temperature Humidity   Pressure
167     12  2022        5 °C      88%  1011 mbar
168      1  2023        5 °C      85%  1014 mbar
169      2  2023        7 °C      80%  1028 mbar
170      3  2023        8 °C      80%  1008 mbar
171      4  2023       10 °C      73%  1016 mbar

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Month        172 non-null    int64
 1   Year         172 non-null    int64
 2   Temperature  172 non-null    object
 3   Humidity     172 non-null    object
 4   Pressure     172 non-null    object
dtypes: int64(2), object(3)
memory usage: 6.8+ KB

In [9]:
# Rename columns

df.rename(columns={'Temperature': 'Temp(°C)', 'Humidity': 'Humidity (%)', 'Pressure' : 'Pressure (mbar)'}, inplace=True)

# REmove characters from columns
df["Temp(°C)"] = df["Temp(°C)"].str.strip(" °C").astype(int)
df["Humidity (%)"] = df["Humidity (%)"].str.strip("%").astype(int)
df["Pressure (mbar)"] = df["Pressure (mbar)"].str.strip(" mbar").astype(int)

# Merge Month and year columns to date format
df["Date"] = pd.to_datetime(df["Year"].astype(str) + "-" + df["Month"].astype(str), format="%Y-%m")
df.drop(columns=["Month", "Year"], inplace=True)
df.head()

   Temp(°C)  Humidity (%)  Pressure (mbar)       Date
0        12            75             1016 2009-01-01
1        12            75             1016 2009-02-01
2        12            75             1016 2009-03-01
3        12            75             1016 2009-04-01
4        12            75             1016 2009-05-01

In [10]:
df.drop(index=df.index[:7], axis=0, inplace=True)
df.reset_index(drop=True, inplace=True)
df.head()

   Temp(°C)  Humidity (%)  Pressure (mbar)       Date
0        12            75             1016 2009-08-01
1        15            76             1025 2009-09-01
2        12            82             1017 2009-10-01
3        10            84             1000 2009-11-01
4         4            90             1006 2009-12-01